<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @if (Session["LogedUserID"].ToString() != "")
        {<a class="navbar-brand" href="@Url.Action("Home", "Home")">Wyloguj</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        }
        <h1 style="text-align:center; color:white"><center>TEST WISCONSIN</center></h1>
        <!--<div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("PsychologistRegistration", "Home")">
                    Rejestracja
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">O Teście</a>
            </li>
        </ul>
    </div>-->
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
