 @model WisconsinTest.Models.Patients

@{
    Layout = null;
}

<!DOCTYPE html>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Patients</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PESEL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PESEL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.BirthDate.Day) . @Html.DisplayFor(model => model.BirthDate.Month) . @Html.DisplayFor(model => model.BirthDate.Year)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId })
        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Start Test", "StartTest", "Test")

    </p>

    <div>
        <table class="table">
            <tr>
                <th class="tg-us36">Numer próby</th>
                <th class="tg-us36">Liczba prób</th>
                <th class="tg-us36">Liczba prawidłowych odpowiedzi</th>
                <th class="tg-us36">Liczba błędów perseweracyjnych</th>
                <th class="tg-us36">Liczba błędów nieperseweracyjnych</th>
            </tr>

            @foreach (var item in Model.Surveys.Where(x => x.PatientId == Model.PatientId))
            {
                foreach (var result in item.Results.Where(x => x.SurveyId == item.SurveyId))
                {
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelitem => item.Date)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => result.NumberOfTries)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => result.CorrectAnswers)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => result.PerseverationErrors)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => result.NonPerseveranceErrors)
                        </td>
                    </tr>}
            }
            <tr>
                <th class="tg-us36">Pokaż na wykresie:</th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
        </table>
    </div>

    <div id="chartContainer"></div>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                            text: "Statystyki"
                    },
                    axisY: {
                            includeZero: false
                    },
                    toolTip: {
                            shared: true
                    },
                data: [{
                    type: "line",
                    name: "Liczba prób",
                    showInLegend: true,
                    dataPoints:
                    @Html.Raw(ViewBag.DataPoints1)},
                    {
                    type: "line",
                    name: "Liczba Prawidłowych odpowiedzi",
                    showInLegend: true,
                    dataPoints:
                    @Html.Raw(ViewBag.DataPoints2)},
                    {
                    type: "line",
                    name: "Liczba błędów perseweracyjnych",
                    showInLegend: true,
                    dataPoints:
                    @Html.Raw(ViewBag.DataPoints3)},
                    {
                    type: "line",
                    name: "Liczba błędów nieperseweracyjnych",
                    showInLegend: true,
                    dataPoints:
                    @Html.Raw(ViewBag.DataPoints4)},
                     ]
    });
    chart.render();

    }
    </script>


</body>
</html>
