
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h2 style="text-align: center;"><strong>Test</strong></h2>


    @using (Html.BeginForm("Test", "Test", FormMethod.Post))
    {
        <h2 style="text-align: center;">

            <a href="@Url.Action("Test",new {button="btnCircle"})">
                <img src="~/Content/Images/circleTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnStar"})">
                <img src="~/Content/Images/starTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnCross"})">
                <img src="~/Content/Images/crossTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnRectangle"})">
                <img src="~/Content/Images/rectangleTest.png" style="width: 250px; height: 250px;" />
            </a>

        </h2>
    }


    <h2 style="text-align: center;">
        <img src="@Url.Content(ViewBag.ImagePath)" width="300" height="300" />

        @ViewBag.LastChoiceResult
    </h2>
</body>
</html>
