
@{
    //Layout = "~/Views/Shared/_WSCTLayout.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <title>Test</title>
</head>

<!--<body>
    <h2 style="text-align: center;"><strong>Test</strong></h2>


    @using (Html.BeginForm("Test", "Test", FormMethod.Post))
    {
        <h2 style="text-align: center;">

            <a href="@Url.Action("Test",new {button="btnCircle"})">
                <img src="~/Content/Images/circleTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnStar"})">
                <img src="~/Content/Images/starTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnCross"})">
                <img src="~/Content/Images/crossTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnRectangle"})">
                <img src="~/Content/Images/rectangleTest.png" style="width: 250px; height: 250px;" />
            </a>

        </h2>
    }
    <h2 style="text-align: center;">
        <img src="@Url.Content(ViewBag.ImagePath)" width="300" height="300" />

        @ViewBag.LastChoiceResult
    </h2>
</body>-->


<body class="text-center">
    <!--<div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="display-4">Test</h3>
                </div>
            </div>
        </div>
    </div>-->
    <div class="py-5">
        <div class="container">
            @using (Html.BeginForm("Test", "Test", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-lg-3 col-xl-3 col-6">
                        <a href="@Url.Action("Test",new {button="btnCircle"})">
                            <img src="~/Content/Images/circleTest.png" style="width: 250px; height: 250px;" />
                        </a>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6 col-lg-3 col-xl-3">
                        <a href="@Url.Action("Test",new {button="btnStar"})">
                            <img src="~/Content/Images/starTest.png" style="width: 250px; height: 250px;" />
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 col-lg-3 col-xl-3">
                        <a href="@Url.Action("Test",new {button="btnCross"})">
                            <img src="~/Content/Images/crossTest.png" style="width: 250px; height: 250px;" />
                        </a>
                    </div>
                    <div class="col-md-3 col-6 col-sm-6 col-lg-3 col-xl-3">
                        <a href="@Url.Action("Test",new {button="btnRectangle"})">
                            <img src="~/Content/Images/rectangleTest.png" style="width: 250px; height: 250px;" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--<div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-12 col-sm-12 col-xl-6">
                    <h2 style="text-align: center;">
                        <img src="@Url.Content(ViewBag.ImagePath)" width="300" height="300" />
                    </h2>
                </div>
                <div class="col-md-6 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <h2>
                        @ViewBag.LastChoiceResult
                    </h2>
                </div>
            </div>
        </div>
    </div>-->

    <h2 style="text-align: center;">
        <img src="@Url.Content(ViewBag.ImagePath)" width="300" height="300" />

        @ViewBag.LastChoiceResult
    </h2>

</body>

</html>
