
@{
    Layout = "~/Views/Shared/_WSCTLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <title>TestResult</title>
</head>

<body>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1">Wynik Testu</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-calculator my-2"></i>
                    <h1 class="">Liczba Prób</h1>
                    <h2 class="text-danger m-3">@ViewBag.NumberofTrials</h2>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-check my-2"></i>
                    <h1 class="">Poprawnych odpowiedzi</h1>
                    <h2 class="text-danger m-3">@ViewBag.TotalCorrect</h2>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-bug my-2"></i>
                    <h1 class="">Błędy perseweracyjne</h1>
                    <h2 class="m-3 text-danger">@ViewBag.PerseverativeErrors</h2>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-repeat my-2"></i>
                    <h1 class="">Błędy nieperseweracyjne</h1>
                    <h2 class="m-3 text-danger">@ViewBag.NonPerseverativeErrors</h2>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-cogs my-2"></i>
                    <h1 class="">Sekwencja reguł</h1>
                    <h2 class="m-3 text-danger">@ViewBag.TestSequence</h2>
                </div>
                <div class="col-md-2 col-12 col-sm-12 col-lg-6 col-xl-6">
                    <i class="d-block  fa fa-3x fa-clock-o my-2"></i>
                    <h1 class="">Czas</h1>
                    <h2 class="m-3 text-danger">...</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline">
                        <button type="button" class="btn btn-primary p-2 m-2" onclick="@("window.location.href='" + @Url.Action("Index", "Psychologist") + "'");">
                            Zakończ
                        </button>
                        <div class="form-group">
                            <a class="btn btn-primary p-2 m-2" href="#"><i class="d-block  fa fa-2x fa-file-pdf-o"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
