@{ 
    var endTime = DateTime.UtcNow.AddSeconds(10);
    var remainingTime = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h2 style="text-align: center;"><strong>Test</strong></h2>
    Pozostały czas: <span id="minRemaining"></span>:<span id="secRemaining"></span>
     @using (Html.BeginForm("Test", "Test", FormMethod.Post))
    {
        <h2 style="text-align: center;">

            <a href="@Url.Action("Test",new {button="btnCircle"})">
                <img src="~/Content/Images/circleTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnStar"})">
                <img src="~/Content/Images/starTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnCross"})">
                <img src="~/Content/Images/crossTest.png" style="width: 250px; height: 250px;" />
            </a>
            <a href="@Url.Action("Test",new {button="btnRectangle"})">
                <img src="~/Content/Images/rectangleTest.png" style="width: 250px; height: 250px;" />
            </a>

        </h2>
    }


    <h2 style="text-align: center;">
        <img src="@Url.Content(ViewBag.ImagePath)" width="300" height="300" />

        @ViewBag.LastChoiceResult
    </h2>
    <script>
        var remSeconds = @remainingTime;
        var secondsCounter = remSeconds % 60;
        function formatNumber(number)
        {
            if(number<10) return '0'+ number;
            else return '' + number;
        }

        function startTick()
        {
            document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
            document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));

            var _tick = setInterval(function()
            {
                    remSeconds = remSeconds-1;
                    secondsCounter = secondsCounter-1;
                    document.getElementById('secRemaining').innerText = formatNumber(secondsCounter);
                    document.getElementById('minRemaining').innerText = formatNumber(parseInt(remSeconds/60));

                    if(secondsCounter==0)
                    {
                        secondsCounter = 60;
                        window.location.href = '@Url.Action("Test", new {button=""})';
                    }
            }, 1000);

        }
        startTick();
    </script>
</body>
</html>
